services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
      POSTGRES_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/db-password
      POSTGRES_DB: words
    secrets:
      - db-password
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy

  apache:
    image: httpd:2.4
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./src/static:/usr/local/apache2/htdocs/
      - ./src/apache/httpd-ssl.conf:/usr/local/apache2/conf/httpd.conf
      - /etc/letsencrypt/live/latinwordoftheday.com/fullchain.pem:/usr/local/apache2/conf/ssl/fullchain.pem:ro
      - /etc/letsencrypt/live/latinwordoftheday.com/privkey.pem:/usr/local/apache2/conf/ssl/privkey.pem:ro
      - /etc/letsencrypt/archive/latinwordoftheday.com:/etc/letsencrypt/archive/latinwordoftheday.com:ro

  db:
    image: postgres:16
    restart: always
    user: postgres
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=words
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:

secrets:
  db-password:
    file: db/password.txt
