RewriteEngine On
RewriteBase /

# Block requests to wp-includes/wlwmanifest.xml
RewriteCond %{REQUEST_URI} ^/.*wp-includes/wlwmanifest\.xml$ [NC]
RewriteRule .* - [F,L]

# Block requests to other common WordPress paths
RewriteCond %{REQUEST_URI} ^/.*wp-includes/.*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_URI} ^/.*wp-content/.*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_URI} ^/.*wp-admin/.*$ [NC]
RewriteRule .* - [F,L]

# Block requests to sensitive files
RewriteCond %{REQUEST_URI} ^/.*\.env$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.env\..*$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.log$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.bak$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.old$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.py$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.properties$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.conf$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.example$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.local$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.stage$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.aws$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.config$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.settings$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/.*\.credentials$ [NC]
RewriteRule .* - [F,L]

RewriteRule ^test\.html$ /index.html [L]
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]